extends layout

block content
  if crumbs
    .ui.segment.fixed.sticky.container
      .ui.breadcrumb
        each crumb in crumbs
          span.divider /
          a.section(class=crumb.active ? 'active' : '' href=crumb.path)
            span= crumb.name

  .ui.list.directories
    each dir in dirs
      a.item(href='/#{dir.rpath}')
        i.folder.icon
        .content= dir.name

    .ui.divider

  unless files.length
    h3 No images
  else
    .ui.four.column.grid
      each file in files
        .column
          a.ui.fluid.card(href='/img/#{file.rpath}')
            .image
              img(src='/preview/#{file.rpath}')
            .content
              span= file.name
